* {
  background-color: #96b4f0;
}

body {
  border: 0px solid;
  border-radius: 25px;
  background-color: #d3def371;
  padding: 10px 15px;
  margin: 2% 5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 48px;
}

li,
a,
h1,
p,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  background-color: transparent;
}

a {
  color: #d30000;
  font-size: 20px;
  font-weight: 500;
}

img {
  width: 600px;
  height: auto;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-page {
  width: 500px;
  height: auto;
  margin: 50px auto;
}

.caramel-latte{
  padding-bottom: 10px;
}

.creme-caramel{
  padding-bottom: 10px;
}

.pool-sandwich{
  padding-bottom: 10px;
}